/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  /* Navbar styles */
  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .navItem {
    margin: 0 1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navItem:hover {
    color: #f1c40f;
  }
  
  /* Section styles */
  .section {
    padding: 100px 20px;
    margin-top: 60px; /* Adjusted margin-top to ensure content isn't hidden behind the navbar */
  }
  .sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .sectionImage {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: 0 auto 20px;
    height: 40vh;
  }
  
  .sectionDescription {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  #home {
    background-image: url('../hover.jpeg'); /* Replace with actual image path */
    height:100vh;
}
  
  #sup {
    background-image: url('./BACKKKKKKk.jpg');
    
  }
  
  #supplier {
    background-image: url('./bly.jpeg'); 
    height: 50em;
}
  
  #contact {
    background-image: url('./blu.jpeg');  
    height:400px;
  }